.li {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover {
    background-color: #444444;
  }
  .p {
    padding-left: 1rem;
  }
  .button {
    height: 2rem;
    padding: 0 1rem;
    background-color:darkred;
    border-radius: 0.5rem;
    border: none;
    &:hover {
      background-color: crimson;
    } 
  }
  
}
